<main class="main-banner" style="background-image: url('/images/main-banner/background.jpg');">
  <div class="main-banner__content">
    <h1 class="main-banner__title">Lorem ipsum</h1>
    <p class="main-banner__paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore velit incidunt nesciunt nam maxime.
    </p>
    <div class="main-banner__buttons">
      <button class="button button--primary">See more</button>
      <button class="button button--outline-primary">Contact me</button>
    </div>
  </div>
</main>
