---
import Header from "@components/Header.astro";
import "../styles/style.scss";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Header Style 01</title>
  </head>
  <body>
    <!-- Start: Header One -->
    <Header />
    <!-- End: Header One -->
    <section style="background: var(--theme-color-2); height: 2000px;"></section>
  </body>
</html>
